In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("adult.data.csv")
print(df.isnull().any())
df.head()

age               False
workclass         False
fnlwgt            False
education         False
education-num     False
marital-status    False
occupation        False
relationship      False
race              False
sex               False
capital-gain      False
capital-loss      False
hours-per-week    False
native-country    False
salary            False
dtype: bool

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
race_count = df["race"].value_counts()
race_count

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [5]:
round(df.loc[df["sex"] == "Male", "age"].mean(), 1)

39.4

In [6]:
people_count = df["education"].count()
people_with_bachelors = df.loc[df["education"] == "Bachelors", "education"].count()
percentage_of_bachelors_holders = round((people_with_bachelors / people_count)*100, 1)
percentage_of_bachelors_holders

16.4

In [7]:
higher_education_mask = (df['education'] == "Bachelors") | (df['education'] == "Masters") | (df['education'] == "Doctorate")
high_edu_df = df[higher_education_mask]
high_edu_count = high_edu_df.shape[0]
high_salary = high_edu_df[high_edu_df['salary'] == ">50K"]
high_salary_count = high_salary.shape[0]
higher_education_rich = round((high_salary_count/high_edu_count)*100, 1)
higher_education_rich

46.5

In [8]:
lower_edu_df = df[~higher_education_mask]
lower_edu_count = lower_edu_df.shape[0]
lower_salary = lower_edu_df[lower_edu_df['salary']==">50K"]
lower_salary_count = lower_salary.shape[0]
lower_education_rich = round((lower_salary_count/lower_edu_count)*100, 1)
print(lower_education_rich)

17.4

In [9]:
min_work_hours = df["hours-per-week"].min()
min_work_people = df[df['hours-per-week'] == min_work_hours]
min_work_people_count = min_work_people.shape[0]
min_work_people_high_salary = min_work_people[min_work_people['salary'] == ">50K"]
min_work_people_high_salary_count = min_work_people_high_salary.shape[0]
min_work_people_rich = round((min_work_people_high_salary_count/min_work_people_count)*100, 1)
min_work_people_rich

10.0

In [10]:
high_salary_people = df[df["salary"] == ">50K"]
native_country_count = df["native-country"].value_counts()
high_salary_people_of_country = high_salary_people['native-country'].value_counts()
highest_percentage_of_each_country = high_salary_people_of_country/native_country_count
highest_earing_ratio = highest_percentage_of_each_country.max()
highest_country_name = highest_percentage_of_each_country.sort_values(ascending=False).index[0]
highest_earing_country_percentage = round(highest_earing_ratio*100, 1)
highest_earing_country_percentage

41.9

In [11]:
india_rich_people_mask = (df["native-country"] == "India") & (df["salary"] == ">50K")
rich_people_india = df[india_rich_people_mask]
rich_people_india["occupation"].value_counts().sort_values(ascending=False).index[0]

'Prof-specialty'